p {
    color: dimgray;
    font-weight: 550;
}
/*I used 2em to increase the h2 headings twice their original size*/
h2 {
    color: saddlebrown;
    font-weight: 550;
    font-size: 2em;
}
table, td, th {
    border-style: solid;
    border-width: 3px;
    border-color: brown ;
    border-collapse: collapse;

}
/*I added a new paragraph to my About page that is unique, so using a pound sign I can using the ID "special one""
 on my HTML page to apply these rules to my only unique paragraph.*/
#special-one {
    color: brown;
    font-weight: bold;
}
/*By using a period, I can use the class attribute in my HTML page to connect these rules to paragraph HTML elements*/
p.black {color:darkred}

img.logo{
    width: 267px;
    height: 80px;
}
