<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>My 2026 Recap </h1>

<!-- I enjoy traveling, so I shared that about myself. I noted strong feelings and important information using the strong
    and em formatting elements. -->

    <h2>Boston Summer Trip</h2>
    <p> My trip to Boston started on Thursday morning and ended on Saturday evening.
        My friend and I took the train, which was quite <strong>uncomfortable</strong> but <em>cheaper</em> than
        the flight. We stayed with our childhood friend, who moved to the Boston Suburbs.
        <strong>My overall experience was great</strong>. Boston is a beautiful, <em>old</em>, and lively city.</p>

    <h2>Chicago Summer Trip</h2>
    <p> My trip to Chicago was for <em>work</em>. It was my <strong>first time</strong> in the city.
        I only got to explore a small part of the city, but it was beautiful.
        My work friends and I went to <strong>all</strong> the tourist spots like Cloud Gate. We had plans
        to try deep-dish pizza, but unfortunately, we did not eat any pizza.
        I will definitely plan a personal trip to Chicago <em>in the future</em>. </p>

    <h2>Other States that I have Visited this Year: </h2>
    <ul>
        <li>Georgia</li>
        <li>Virginia</li>
        <li>New York</li>
    </ul>
    <h2>My Top 3 Favorite Cities that I have Traveled to of All Time:</h2>
    <ol>
        <li>Boston</li>
        <li>London</li>
        <li>Chicago</li>
    </ol>
<!--These are not all the courses I took or that I am taking this year. I only included three to keep it simple. -->
    <h2>Courses of the Year</h2>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT417</td>
            <td>S26</td>
        </tr>
        <tr>
            <td>ARTH201</td>
            <td>S26</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>F26</td>
        </tr>
    </table>
<!-- I used a relative hyperlink for my hello page. -->
    <h3>My Hello Page</h3>
    <p>A link to my <a href="/hello" >Hello Page</a>.</p>
<!--The link to the National Gallery of Art will be opened in a new browser tab -->
    <h3>My Favorite Websites</h3>
    <P>My favorite shows this year are on <a href="https://www.netflix.com/login">Netflix</a>.</P>
    <P>I enjoyed the time I spent exploring <a href="https://www.nga.gov/" target="_blank">The National Gallery of Art Site</a>
    for my ARTH201 class.</P>

    <h3>Here is a picture of the Smith logo.</h3>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">


</body>
</html>